/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width:100%;
    overflow: hidden;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    -webkit-overflow-scrolling: touch;
    /* prevent copy paste, to allow, change 'none' to 'text' */
/*    background-color:#53DCDF;*/
    background-color: white;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    text-transform:uppercase;
}

button:focus { 
    outline:0 !important; 
}

ul{
    list-style-type: none;
    padding: 0px 0px 0px 0px;
}

li:hover{
    background-color: aqua;
}

input{
    text-indent: 10px;
    background-color: #44c5c7; 
    color: white;
    border: 1px solid white;
    border-color:white;
    border-style: solid;
    
}

input:focus { 
    outline:0 !important; 
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ffffff;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ffffff;
   opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ffffff;
   opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ffffff;
}


.app {
/*    background:url(../img/pssb_logo.png) no-repeat center top;  170px x 200px */
    
/*    left:50%;*/
/*    top:50%;*/
    height:100%;                    
    width:100%;  
/*    text-align:center;*/
    padding:0px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:0px 0px 0px 0px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* Top Header Style*/
.menuheader{
    height: 40px;
    background-color: #53DCDF;
}

.menuheadertable{
    height: 100%;
    width: 100%;
}

.menubutton{
    width: 100%;
    height: 100%;
    background-color: transparent;
}


.buttonbg{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border:none;
    top: 0px;
    left: 0px;
    position: absolute;
}

.buttonsharebg{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border:none;
    right:70px;
    top: 0px;
    position: absolute;
}

.buttonsharebg2{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border:none;
    right:100px;
    top: 0px;
    position: absolute;
}

.sharebuttonimg{
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: relative;
}

.menubutton:active {
    vertical-align: top;
    padding: 1px 1px 1px;
    border: none;
}

.pagetitle{
    color: white;
    width: 60px;
    height: 40px;
    line-height: 40px;
    background-color: transparent;
    border:none;
    right: 10px;
    top: 0px;
    vertical-align: middle;
    font-size: 13px;
    position: absolute;
}
/* Top Header Style end */
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/


/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* menu Style*/
.menubg{
    position: absolute;
    width: 70%;
    height: calc(100% - 40px);
    z-index: 2;
/*    padding: 0px 0px 0px 0px;*/
    margin-left: -70%;
    opacity: 0.98; 
    background-color: #44c5c7;
    box-shadow: 2px 0px 0px 0px rgba(0, 0, 0, 0.2);
    
    -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        -webkit-transition: transform 400ms ease
        -moz-transition: transform 400ms ease
        -o-transition: transform 400ms ease
        transition: transform 400ms ease;
}

.searchbox{
    height: 30px;
    width: 95%;
    padding: 0px 0px 0px 0px;
    margin: 5px 5px 5px 5px;
}

.itemlabel{
/*    display: block;*/
    line-height: 30px;
/*    background-color: #53DCDF;*/
    font-weight: bold;
    color: white;
/*    -webkit-transform: translateZ(0);*/
}

.menuitemimg{
    height: 30px;
    width: 30px;
    padding: 10px 10px 10px 10px;
    vertical-align: middle;
}

.menufooter{
    position: absolute;
    bottom: 20px;
}
/* menu Style end*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/



/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* subheader Style*/
.subheaderblack{
/*    position: relative;*/
    background-color:black;
    text-align:justify;
    color: white;
    height: 40px;
    width: 100%;
}
.subheadertable{
    width: 100%;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    color: #53DCDF;
}

.subheaderbutton{
    background-color: transparent;
    border: 0px;
    color: #53DCDF;
    width: 100%;
    height: 90%;
}

/* subheader Style end*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/



/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* content page Style */
.content{
    width: 100%;
    height: auto;
    background-color: transparent;
    
}

.pageone{
    background-color: black;
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0%;
    display: inline-block;
    position: absolute;
/*    position: absolute;*/
}

.pagetwo{
    background-color: red;
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 100%;
    display: inline-block;
    position: absolute;
}

.pagethree{
    background-color: purple;
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 200%;
    display: inline-block;
    position: absolute;
}

/* content page stry end*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/





/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* image slideshow Style */
.imagecontent{
    background:url(../img/bgtemplate.png) no-repeat center top; 
    height: 38%;
    width: 100%;
    background-color: white;
    position:  absolute;
/*    line-height: 40px;*/
}

.slideshowimage{
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: auto;
    width: auto;
    position: absolute;  
    top: 0%;  
    bottom: 0%;  
    left: 0%;  
    right: 0%;  
    margin: auto;
}

.slideshowimagenamediv{
    width: 100%;
    bottom: 0%;
    position: absolute;
    background-color: #44c5c7;
    opacity: 0.9;
}

.slideshowimagename{
    padding: 0px 0px 0px 0px;
    margin: 10px 10px 10px 10px;
    color: white;
    font-size: 15px;
    text-align: left;
/*    position: absolute;*/
    display: inline-block;
}

.slideshowitemtitle{
    color: white;
    background-color: transparent;
    font-size: 15px;
    font-weight: normal;
    line-height: 10px;
    margin: 10px 10px 10px 10px;
}

.slideshowitemdetails{
    color: white;
    background-color: transparent;
    font-size: 10px;
    font-weight: normal;
    line-height: 10px;
    margin: 10px 10px 10px 10px;
}

.slideshowitemseperator{
    line-height: 2px;
    color: #53DCDF;
    margin: 10px 10px 10px 10px;
    color: white;
}
/* image slideshow Style end*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/



/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* listview Style*/
.wrapper{
    height: calc(100% - 38%-80px);
    width: 100%;
    background-color: white;
    position: absolute;
    display: block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    bottom: 0%;
    overflow:auto;
}

.scrollul{
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    text-align:left;
}
 
.scrollli {
    padding:0 10px;
    height:110px;
    line-height:40px;
    border-bottom:1px solid #ccc;
    border-top:1px solid #fff;
/*    background-color:#fafafa;*/
    font-size:14px;
    border-bottom: 1px dotted #333;
/*    background-color: antiquewhite;*/
}

.scrollli:hover {
    background-color: white;
}

.scroll-content {
    position:absolute; 
    z-index:1;
    width:100%;
    padding:0;
}

.listviewimg{
    line-height: 100px;
    width: 100px;
    height: auto;
/*    border: 1px solid black;*/
    display: block;
}

.listviewlbl{
/*    padding: 10px 10px 10px 0px;*/
}

.listviewitemtitle{
    color: #53DCDF;
    background-color: transparent;
    font-size: 15px;
    font-weight: normal;
    line-height: 10px;
    
}

.listviewitemdetails{
    color: black;
    background-color: transparent;
    font-size: 10px;
    font-weight: normal;
    line-height: 10px;
    margin: 0px 0px 0px 0px;
}

.listviewitemseperator{
    line-height: 2px;
    color: #53DCDF;
}

.listviewitemframe{
    height:100%; 
    width:100%;
    vertical-align: top;
    text-align: left;
}
/* listview Style end*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/




