/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

@font-face {
    font-family: 'Roboto-Regular'; /*a name to be used later*/
    src: url('../font/Roboto-Regular.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Roboto-Bold'; /*a name to be used later*/
    src: url('../font/Roboto-Bold.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Roboto-Light'; /*a name to be used later*/
    src: url('../font/Roboto-Light.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Roboto-Thin'; /*a name to be used later*/
    src: url('../font/Roboto-Thin.ttf'); /*URL to font*/
}

@font-face {
    font-family: 'Roboto-Medium'; /*a name to be used later*/
    src: url('../font/Roboto-Medium.ttf'); /*URL to font*/
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width:100%;
    overflow: hidden;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    -webkit-overflow-scrolling: touch;
    /* prevent copy paste, to allow, change 'none' to 'text' */
/*    background-color:#53DCDF;*/
    background-color: white;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
/*    font-size:12px;*/
/*    text-transform:uppercase;*/
}

button:focus { 
    outline:0 !important; 
}

input{
    text-indent: 10px;
    background-color: #44c5c7; 
    color: white;
    border: 1px solid white;
    border-color:white;
    border-style: solid;
    
}

input:focus { 
    outline:0 !important; 
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    #ffffff;
    opacity:  0.4;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    #ffffff;
   opacity:  0.4;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    #ffffff;
   opacity:  0.4;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    #ffffff;
    opacity:  0.4;
}



.app {
/*    background:url(../img/pssb_logo.png) no-repeat center top;  170px x 200px */
    
/*    left:50%;*/
/*    top:50%;*/
    height:100%;                    
    width:100%;                    
/*    text-align:center;*/
    padding:0px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:0px 0px 0px 0px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}


/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* Top Header Style*/
.menuheader{
    height: 6%;
	width:100%;
    background-color: #46a19a;
	position:absolute;
	top:0px;
}

.menuheadertable{
    height: 100%;
    width: 100%;
}

.menubutton{
    width: auto;
    height: 100%;
    background-color: transparent;
}


.buttonbg{
    width: auto;
    height: 100%;
    background-color: transparent;
    border:none;
    top: 0px;
    left: 0px;
    position: absolute;
}

.pageTitileImgBG{
    width: auto;
    height: 100%;
    background-color: transparent;
    border:none;
    right:80px;
    top: 0px;
    position: absolute;
}

.inboxBtn{
    width: auto;
    height: 100%;
    background-color: transparent;
    border:none;
    right:110px;
    top: 0px;
    position: absolute;
}

.pageTitileImg{
    width: auto;
    height: 70%;
    background-color: transparent;
    position: relative;
    vertical-align: middle;
    
}

.inboxBtnImg{
    width: auto;
    height: 50%;
    background-color: transparent;
    position: relative;
    vertical-align: middle;
}

.menubutton:active {
    vertical-align: top;
    padding: 1px 1px 1px;
    border: none;
}

.pagetitle{
    color: rgba(255, 255, 255, 0.6);
    width: auto;
    height: 100%;
    line-height: 100%;
    background-color: transparent;
    border:none;
    right: 10px;
    top: 0px;
    font-size: 13px;
    position: relative;
    font-size: 16px;
    font-family: "Roboto-Thin";
	text-align:center;
}
/* Top Header Style end */
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/



/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* subheader Style*/
.subheaderblack{
    position: absolute;
    background-color:black;
    text-align:justify;
    color: white;
    height: 18%;
    width: 100%;
    bottom: 0px;
    z-index: 50;
}
.subheadertable{
    width: 100%;
    height: 100%;
    text-align: center;
    line-height: 40px;
    font-weight: bold;
    color: #32978f;
}

.subheaderbutton{
    background-color: transparent;
    border: none;
    color: #32978f;
    width: 100%;
    height: 40px;
    font-family: "Roboto-Medium";
    font-size: 14px;
}

/* subheader Style end*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/



/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* content page Style */
.content{
     width: 100%;
    height: 94%;
    background-color: white;
	position:absolute;
	top:6%;
    
}

.pagetwo{
    background-color: white;
    width: 100%;
    height: 55%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    display: inline-block;
    position: absolute;
    z-index: 2;
    bottom: 0;
   -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-transition: transform 400ms ease;
    -moz-transition: transform 400ms ease;
    transition: transform 400ms ease;
}
/* content page stry end*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/





/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* image slideshow Style */
.profileDiv{
    background:url(../img/bgtemplate.png) no-repeat center top; 
    height: 45%;
    width: 100%;
    background-color: white;
    position:  absolute;
/*    line-height: 40px;*/
}

.profileBG{
    display: block;
    max-width: 100%;
    max-height: 100%;
    height: 100%;
    width: auto;
    position: absolute;  
    top: 0%;  
    bottom: 0%;  
    left: 0%;  
    right: 0%;  
    margin: auto;
}

.profileStatistic{
    width: 100%;
    bottom: 18%;
    height: 25%;
    position: absolute;
/*    background-color: #32978f;*/
    opacity: 0.9;
}

.profilePic{
    position: absolute;
    top: 20px;
/*    width: 30%;*/
    height: 30%;
    border: 1px solid white;
    border-radius: 100%;
    z-index: 10;
/*    margin: 0px 0px 0px calC(50% - 50px);*/
}

.username{
    position: absolute;
    top: 45%;
    width: 100%;
    height: 10%;
    color: white;
    z-index: 10;
    text-align: center;
    font-family: "Roboto-Regular";
    font-size: 17px;
}

.profileStatisticTable{
    color: white;
    width: 100%;
    margin: 10px 0px 10px 0px;
    text-align: center;
}

.profileStatisticTable tr td:first-child{
    border-right: 1px solid white;
}

.profileStatisticTable tr td:last-child{
    border-left: 1px solid white;
}

.statisticNumber{
    font-family: "Roboto-Medium";
    font-size: 20px;
    height: 100%;
}

.statisticLbl{
    font-family: "Roboto-Light";
    font-size: 14px;
    height: 100%;
}
/* image slideshow Style end*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/



/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* listview Style Page 2*/
.wrapperPage2{
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    display: block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    bottom: 0;
    overflow:auto;
}

.scrollulPage2{
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    text-align:left;
}
 
.scrollliPage2 {
    padding:0 10px;
/*    height:150px;*/
/*    line-height:40px;*/
    border-bottom:1px solid #ccc;
    border-top:1px solid #fff;
/*    background-color:#fafafa;*/
    font-size:14px;
    border-bottom: 1px solid #565656;  
}

.scrollliPage2:hover {
    background-color: white;
}

.scroll-contentPage2 {
    position:absolute; 
    z-index:1;
    width:100%;
    padding:0;
}

.inboxImg{
/*    line-height: px;*/
    width: 50px;
    height: 50px;
/*    border: 1px solid black;*/
    display: block;
    border-radius: 100%;
}

.inboxUnreadTitle{
    font-family: "Roboto-Bold";
    font-size: 15px;
    color: #46a19a;
    margin: 20px 0px 0px 0px;
    width: 200px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    display:inline-block;
}

.inboxUnreadDate{
    font-family: "Roboto-Bold";
    font-size: 12px;
    color: #46a19a;
    margin: 20px 0px 0px 0px;
}

.inboxUnreadInfo{
    font-family: "Roboto-Bold";
    font-size: 13px;
    color: #565656;
    margin: 0px 0px 0px 0px;
    width: 200px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    display:inline-block;
}

.inboxUnreadMsg{
    font-family: "Roboto-Light";
    font-size: 13px;
    color: #565656;
    margin: 0px 0px 20px 0px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    display:inline-block;
    width: 200px;
 
}

.inboxReadTitle{
    font-family: "Roboto-Bold";
    font-size: 15px;
    color: #787878;
    margin: 20px 0px 0px 0px;
    width: 200px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    display:inline-block;
}

.inboxReadDate{
    font-family: "Roboto-Bold";
    font-size: 12px;
    color: #565656;
    margin: 20px 0px 0px 0px;
}

.inboxReadInfo{
    font-family: "Roboto-Bold";
    font-size: 13px;
    color: #787878;
    margin: 0px 0px 0px 0px;
    width: 200px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    display:inline-block;
}

.inboxReadMsg{
    font-family: "Roboto-Light";
    font-size: 13px;
    color: #787878;
    margin: 0px 0px 20px 0px;
    white-space: nowrap;
    overflow:hidden !important;
    text-overflow: ellipsis;
    display:inline-block;
    width: 200px;
 
}






/* listview Style Page 2 end*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
