/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width:100%;
    overflow: hidden;
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#53DCDF;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    text-transform:uppercase;
}

/* Portrait layout (default) */
.pages {
/*    background:url(../img/pssb_logo.png) no-repeat center top;  170px x 200px */
    
/*    left:50%;*/
/*    top:50%;*/
    height:100%;                    
    width:100%;                    
/*    text-align:center;*/
    padding:0px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:0px 0px 0px 0px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.headerblack{
    position: relative;
    background-color:black;
    text-align:justify;
    color: white;
    height: 10%;
    width: 100%;
}

.menuheader{
    height: 10%;
}

.menuheadertable{
    height: 99%;
    width: 100%;
}

.headertable{
    width: 100%;
    text-align: center;
    line-height: 40px;
}

.menubutton{
    width: 40px;
    height: 40px;
}

/*
.menubutton:active {
    vertical-align: top;
    padding: 1px 1px 1px;
    border: none;
}
*/

button:focus { 
    outline:0 !important; 
}

.buttonbg{
    width: 40px;
    height: 40px;
    background-color: transparent;
    border:none;
}

ul
{
    list-style-type: none;
    text-align: left;
    padding: 0px 0px 0px 0px;
}

.menuarea{
    position: absolute;
    width: 70%;
    height: calc(100% - 40px);
    background-color: beige;
    z-index: 2;
/*    padding: 0px 0px 0px 0px;*/
    margin-left: 0%;
    opacity: 0.9; 
}

.menufooter{
    position: absolute;
    bottom: 20px;
}



