/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* content page Style */
.content{
    width: 100%;
    height: 88%;
    background-color: white;
	position:absolute;
	top:6%;
}

.pageone{
    background-color: white;
    width: 100%;
    height: 100%;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0%;
    display: inline-block;
    position: absolute;
    z-index: 3;
/*    position: absolute;*/
    
    -webkit-transform: translate3d(0,0,0);
        -moz-transform: translate3d(0,0,0);
        -ms-transform: translate3d(0,0,0);
        -o-transform: translate3d(0,0,0);
        transform: translate3d(0,0,0);
        -webkit-transition: transform 400ms ease;
        -moz-transition: transform 400ms ease;
        transition: transform 400ms ease;
}

/* content page stry end*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/



/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* listview Style Page 1*/
.wrapper{
    height: 100%;
    width: 100%;
    background-color: white;
    position: absolute;
    display: block;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    top: 0px;
    overflow:auto;
}

.scrollul{
    list-style:none;
    padding:0;
    margin:0;
    width:100%;
    text-align:left;
}
 
.scrollli {
    padding:0 10px;
    height:auto;
    line-height:40px;
    border-bottom:1px solid #ccc;
    border-top:1px solid #fff;
/*    background-color:#fafafa;*/
    font-size:14px;
/*    border-bottom: 1px dotted #333;  */
    border-bottom: none;
}

.scrollli:hover {
    background-color: none;
}

.scroll-content {
    position:absolute; 
    z-index:1;
    width:100%;
    padding:0;
}


.scrollli h1{
    font-family: "Roboto-Regular";
    font-size: 17px;
    color: #46a19a;
    margin: 0px 0px 0px 0px;
    background-color: white;
    height: 30px;
}

.scrollli h2{
    font-family: "Roboto-Regular";
    font-size: 15px;
    color: #46a19a;
    margin: 0px 0px 0px 0px;
    background-color: white;
    height: 30px;
}

.scrollli p{
    background-color: white;
    margin: 0px 0px 0px 0px;
}

.msgInfo{
    margin: 0px 0px 0px 0px;
    font-family: "Roboto-Light";
    font-size: 3vw;
    line-height: auto;
}

.msgTitle{
    font-family: "Roboto-Medium";
    font-size: 4vw;
    color: #46a19a;
    margin: 0px 0px 0px 0px;
    line-height: auto;
}

.msgDate{
    font-family: "Roboto-Medium";
    font-size: 3.2vw;
    color: #46a19a;
    margin: 0px 0px 0px 0px;
    line-height: auto;
}


.seperator{
    border-bottom: 1px solid #565656;
    margin: 0px 0px 0px 0px;
    line-height: 25px;
}

.description{
    font-family: "Roboto-Regular";
    font-size: 2.4vw;
    text-align: justify;
    color: #565656;
    line-height: 3.5vw;
    margin-top: 30px;
}

.h2seperator{
    border-bottom: 1px solid #46a19a;
    width: 30px;
    line-height: 10px;
}


/* listview Style Page 1 end*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/



/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* Page footer*/
.pageFooter{
    height:40px;
    position: absolute;
    bottom:0;
    background-color: white;
    z-index: 99;
    width: 100%;
}

.deleteBtn{
    position: absolute;
    left: 0px;
    height: 40px;
    width: auto;
    background-color: transparent;
    border: none;
}

.replyBtn{
    position: absolute;
    left: 50px;
    height: 40px;
    width: auto;
    background-color: transparent;
    border: none;
}

.previousBtn{
    position: absolute;
    right: 50px;
    height: 40px;
    width: auto;
    background-color: transparent;
    border: none;
}
.nextBtn{
    position: absolute;
    right: 0px;
    height: 40px;
    width: auto;
    background-color: transparent;
    border: none;
}
/* Page footer end*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/
/* ------------------------------------------------------------------------------------*/